@import url('http://fonts.cdnfonts.com/css/gill-sans');

$textColor: rgba(230, 230, 230, 1);
$textColor1: rgba(230, 230, 230, .3);
$backgroundColor: rgba(5, 6, 9, 1);
$colorPalette1: rgba(241, 29, 91, .8);
$colorPalette2: rgba(241, 29, 91, 1);

.contact {
  height: 100vh;
  width: 100vw;
  display: flex;
  background: rgb(5,5,5);
  background: linear-gradient(135deg, rgba(5,5,5,1) 20%, rgba(242,80,128,1) 23%, rgba(241,29,91,0.9360119047619048) 25%, rgba(185,36,80,1) 77%, rgba(245,245,245,1) 80%, rgba(53,53,53,1) 100%);
}

.formContainer {
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 70%;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  margin: auto;
}

.preForm {
  width: 40%;
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );

  p {
    font-family: 'Gill Sans', sans-serif;
    letter-spacing: 0.3rem;
    font-size: 20px;
    color: $textColor;
  }
}

.formDiv {
  display: flex;
  width: 60%;
}

.form {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: auto;
  transition: .5s ease-in-out;

  .nameInput {
    outline: none;
    border: none;
    margin: 5% 0;
    text-align: center;
    transition: .5s ease-in-out;
    line-height: 34px;
    font-family: 'Gill Sans', sans-serif;
    letter-spacing: 0.3rem;
    font-size: 24px;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 10px 0 rgba( 31, 38, 135, 0.2 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
  }

  .nameInput::placeholder {
    color: $textColor;
    transition: .5s ease-in-out;
  }

  .nameInput ~ .nameInputLabel {
    opacity: 0;
    position: absolute;
    top: 22%;
    right: 70%;
    transition: .5s ease-in-out;
    background: rgba( 255, 255, 255, 0.9 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    padding: 1px;

    p {
      font-family: 'Gill Sans', sans-serif;
      letter-spacing: 0.3rem;
      font-size: 14px;
      margin: 0;
      padding: 0;
    }
  }

  .nameInput:hover {
    transform: scale(1.05);
    transition: .5s ease-in-out;
  }

  .nameInput:hover::placeholder {
    color: transparent;
    transition: .5s ease-in-out;
  }

  .nameInput:hover ~ .nameInputLabel {
    opacity: 1;
    position: absolute;
    right: 7%;
    transition: .5s ease-in-out;
  }

  .nameInput:focus {
    outline: 3px solid $colorPalette1;
    border-radius: 5px;
  }

  .nameInput:focus::placeholder {
    color: transparent;
    transition: .5s ease-in-out;
  }

  .emailInput {
    outline: none;
    border: none;
    margin: 5% 0;
    text-align: center;
    transition: .5s ease-in-out;
    line-height: 34px;
    font-family: 'Gill Sans', sans-serif;
    font-size: 24px;
    letter-spacing: 0.3rem;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 10px 0 rgba( 31, 38, 135, 0.2 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
  }

  .emailInput::placeholder {
    color: $textColor;
    transition: .5s ease-in-out;
  }

  .emailInputLabel {
    opacity: 0;
    position: absolute;
    top: 36%;
    right: 70%;
    transition: .5s ease-in-out;
    background: rgba( 255, 255, 255, 0.9 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    padding: 1px;

    p {
      font-family: 'Gill Sans', sans-serif;
      letter-spacing: 0.3rem;
      font-size: 14px;
      margin: 0;
      padding: 0;
    }
  }

  .emailInput:hover {
    transform: scale(1.05);
  }

  .emailInput:hover::placeholder {
    color: transparent;
    transition: .5s ease-in-out;
  }

  .emailInput:hover ~ .emailInputLabel {
    opacity: 1;
    position: absolute;
    right: 6%;
  }

  .emailInput:focus {
    outline: 3px solid $colorPalette1;
    border-radius: 5px;
  }

  .emailInput:focus::placeholder {
    color: transparent;
    transition: .5s ease-in-out;
  }

  .messageInput {
    outline: none;
    border: none;
    margin: 5% 0;
    text-align: center;
    transition: .5s ease-in-out;
    line-height: 34px;
    font-family: 'Gill Sans', sans-serif;
    font-size: 24px;
    letter-spacing: 0.3rem;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 10px 0 rgba( 31, 38, 135, 0.2 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
  }

  .messageInput::placeholder {
    color: $textColor;
    transition: .5s ease-in-out;
  }

  .messageInput ~ .messageInputLabel {
    opacity: 0;
    position: absolute;
    top: 50%;
    right: 68%;
    transition: .5s ease-in-out;
    background: rgba( 255, 255, 255, 0.9 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    padding: 1px;

    p {
      font-family: 'Gill Sans', sans-serif;
      letter-spacing: 0.3rem;
      font-size: 14px;
      margin: 0;
      padding: 0;
    }
  }

  .messageInput:hover {
    transform: scale(1.05);
  }

  .messageInput:hover::placeholder {
    color: transparent;
    transition: .5s ease-in-out;
  }

  .messageInput:hover ~ .messageInputLabel {
    opacity: 1;
    position: absolute;
    right: 3.5%;
    top: 50%
  }

  .messageInput:focus {
    outline: 3px solid $colorPalette1;
    border-radius: 5px;
  }

  .messageInput:focus::placeholder {
    color: transparent;
    transition: .5s ease-in-out;
  }

  button {
    margin: auto 10px auto auto;
    padding: 2%;
    background-color: $colorPalette2;
    border: none;
    color: white;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 0.3rem;
    box-shadow: 3px 4px 3px 0 rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 3px 4px 3px 0 rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 3px 4px 3px 0 rgba(0, 0, 0, 0.35);
    transition: 0.4s ease-in;
  }

  button:hover {
    background-color: $colorPalette1;
    transform: scale(1.05);
    transition: 0.4s ease-out;
  }

  button:active {
    transform: scale(0.99);
    transition: 0.4s ease-in;
  }
}

