@import url('http://fonts.cdnfonts.com/css/gill-sans');

$colorPalette1: rgba(241, 29, 91, 1);
$colorPalette2: rgba(241, 29, 91, 1);
$textColor: rgba(242, 239, 234, 1);

.landing {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg, $textColor 6%, $textColor 62%);
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto auto auto 10vw;
  text-align: start;

  h1 {
    font-size: 68px;
    font-family: 'Gill Sans', sans-serif;
    font-weight: 300;
    margin: 2vh 0;
    color: $colorPalette1;
  }

  p {
    font-size: 48px;
    font-family: 'Gill Sans', sans-serif;
    font-weight: 300;
    margin: 2vh 0;
    color: $colorPalette1;
  }
}

.animate {
  animation-duration: 2s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
