@import url('http://fonts.cdnfonts.com/css/gill-sans');

$textColor: rgba(242, 239, 234, 1);
$backgroundColor: rgba(5, 6, 9, 1);
$colorPalette1: rgba(241, 29, 91, 1);
$colorPalette2: rgba(241, 29, 91, .7);

.nav {
  display: flex;
  width: 20vw;
  flex-direction: column;
  margin: 0;
  padding: 10px 0;
  background-color: $backgroundColor;
  box-shadow: 3px 4px 3px 0px rgba(0,0,0,0.35);
  -webkit-box-shadow: 3px 4px 3px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 3px 4px 3px 0px rgba(0,0,0,0.35);

  img {
    height: 20%;
    width: 50%;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
  }

  h2 {
    font-weight: 300;
    color: $colorPalette1;
    font-family: 'Gill Sans', sans-serif;
    padding: 20px 0;
  }

  ul {
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}

.nav a {
  border-radius: 4px;
  padding: 10px 10px;
  text-decoration: none;
  color: $colorPalette2;
  font-family: 'Gill Sans', sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
  margin: 5px 0;

  .navIcon {
    margin: auto 10px;
  }

  p {
    margin: auto 10px;
  }
}

.nav a.active {
  font-weight: 700;
  color: $colorPalette1;
}

.nav a.inactive {
  font-style: italic;
}