@import url('http://fonts.cdnfonts.com/css/gill-sans');

$colorPalette1: rgba(241, 29, 91, 1);
$textColor: rgba(240, 240, 240, 1);

.projects {
  height: 100vh;
  width: 100vw;
}

.container .card {
  position: relative;
  width: 20vw;
  height: 40vh;
  background: #232323;
  overflow: hidden;
}

.container .card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: $colorPalette1;
  clip-path: circle(10px at 100% 5%);
  transition: 0.5s ease-in-out;
}

.container .card:hover::before {
  clip-path: circle(300px at 80% -20%);
}

.container .card::after {
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 25, 0.05);
}

.container .card .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 20%;
  transition: 1s;
}

.container .card .imgBx .projectIcon {
  transition: 1s;
}

.container .card:hover .imgBx {
  top: 15%;
}

.container .card:hover .imgBx .projectIcon {
  transform: scale(1.5);
  transition: 1s;
}

.container .card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx {
  height: 210px;
}

.container .card .contentBx h2 {
  position: relative;
  color: $textColor;
  font-size: 20px;
  font-family: 'Gill Sans', sans-serif;
  font-weight: 300;
  margin: 0 1vw;
  padding: 0;
  line-height: 68px;
  letter-spacing: 0.3rem;
}

.container .card .contentBx .technology {
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.container .card:hover .contentBx .technology {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .technology h3 {
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  color: $textColor;
  font-family: 'Gill Sans', sans-serif;
  margin: 0 1vw;
  line-height: 18px;
  letter-spacing: 0.3rem;
}

.container .card .contentBx .technology span {
  width: 20%;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: $colorPalette1;
  background: #fff;
  margin: 20px 5px;
  transition: 0.5s;
  cursor: pointer;
}

.container .card .contentBx .links a {
  color: $colorPalette1;
  transition: 0.5s;
}

.container .card:hover .contentBx .links a {
  margin: 0 10px;
}

.container .card:hover .contentBx .links a .linkIcons {
  transition: 0.5s;
}

.container .card:hover .contentBx .links a .linkIcons:hover {
  transform: scale(1.5);
}
